body {cursor: pointer};

.footer-container {
	position: fixed;
	left: 10%;
	padding-bottom: 2px;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	height: 10px;
}

.main {
  overflow: auto;
  padding-bottom: 10px;
}

.overflow {
	overflow: auto;
}

tbody {
	width: 100%;
}

.scorecard_table {
	/* background-color: orangered; */
	border-collapse: collapse;
	/* border: 1px solid black; */
	max-width: 100%;
	min-width: 25%;
}

td.scorecard, tr.scorecard {
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	min-width: 25px;
}

td.scorecard_labels {
	min-width: 70px;
	white-space: nowrap;
	border-collapse: collapse;
	border: 1px solid black;
	text-align: left;
}

.scoreboard_table {
	
	border-collapse: collapse;
	border:1px solid black;
	max-width: 100%;
	min-width: 25%;

}

.pull_right {
	text-align: right;
}

button {
	margin: 5px
}

.par-input-box{
	max-width: 50px;
}

.center {
	text-align: center
}
